body {
  background-color: lightsteelblue;
}


.header {
  Color:white;
  font: lucia handwriting;
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: lightslategray;
}

h1,h2,h3 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
ul{
  list-style-type: none;
  margin:0;
  padding:0;
  width:200px;
}
li {
 float: left;
}
 a{
   color: black;
   text-decoration:none;
   display:block;
   padding: 8px;
   background-color:lightslategray;
}
